.backgroundCanvas {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
    filter: blur(1em);
    transition: opacity 1s ease, filter 1s ease;

    &:not(.activeCanvas) {
        opacity: 0;
    }

    &.activeCanvas {
        opacity: .2;
        transition: opacity 1s ease, filter 1s ease;

        &.moving {
            filter: blur(0em);
        }
    }

    .canvasDot {
        $size: .4rem;
        position: absolute;
        top: var(--top);
        left: var(--left);
        height: $size;
        width: $size;
        border-radius: 50%;
        background: white;
        translate: var(--sLeft) var(--sTop);
        transition: translate .75s ease-in-out;
        animation: moveDot var(--duration) linear forwards;
    }
}

@keyframes moveDot {
    0% {
        top: var(--top);
        left: var(--left);
    }
    0%, 100% {
        opacity: 0;
    }
    20%, 80% {
        opacity: 1;
    }
    100% {
        top: var(--pTop);
        left: var(--pLeft);
    }
}