#nav-page {
    position: fixed;
    top: 50%;
    translate: 2rem -50%;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;

    a {
    display: flex;
    flex-direction: row;

        main {
            height: .2rem;
            width: 2rem;
            background: white;
            transition: width ease-in-out .15s;
        }

        &.active main {
            width: 3rem;
        }
    }
}