.welcomeStyles {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: black;
    padding: 5em max(6vw, 5em);

    &.welcomeActive {
        .buttonScroll {
            opacity: 1;
            scale: 1;
            pointer-events: auto;
        }
    }

    &:not(&.welcomeActive) {
        .buttonScroll {
            opacity: 0;
            scale: .5;
            pointer-events: none;
        }
    }

    .imageContainer {
        position: absolute;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        overflow: hidden;

        img {
            position: relative;
            top: 0;
            height: 100vh;
            width: auto;
        }
    }

    .textContainer {
        position: relative;
        z-index: 10;
        font-size: clamp(1em, 2vw, 1.4em);
        display: flex;
        flex-direction: column;

        .mainTitle {
            font-size: 2em;
            display: flex;
            flex-direction: column;

            strong {
                font-weight: 900;
                font-size: 2em;
                letter-spacing: .02em;
            }
        }

        .titleDesc {
            color: transparent;
            background-clip: text;
            background-image: linear-gradient(135deg, #3af, #50f);
        }

        .titleName {
            margin-block: 0 !important;
        }

        p {
            max-width: 20em;
            color: #eeec;
        }
    }

    .buttonScroll {
        position: absolute;
        bottom: .5em;
        left: 50%;
        translate: -50%;
        letter-spacing: .1em;
        color: black;
        background: transparent;
        outline: none;
        border: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: .2em;
        font-size: 1.1em;
        font-weight: 700;
        cursor: pointer;
        transition: .2s ease-out;

        &::before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 50%;
            translate: -50% calc(100% - 3.5em);
            z-index: -1;
            background: white;
            border-radius: 50%;
            filter: blur(1.5em);
            height: 12em;
            width: 12em;
        }

        svg {
            animation: animateScroll 1s alternate infinite;
        }
    }
}

@keyframes animateScroll {
    from {
        translate: 0 -.25em;
    }
    to {
        translate: 0 .25em;
    }
}

@media screen and (min-width: 80rem) {
    .imageContainer img {
        scale: 2.5;
        left: 15vw;
    }
}

@media screen and (min-width: 50rem) and (max-width: calc(80rem - 1px)) {
    .imageContainer img {
        scale: 1.5;
        left: 5em;
    }
}

@media screen and (min-width: 50rem) {
    .welcomeStyles {
        align-items: flex-end;

        .textContainer {
            text-align: end;
            align-items: flex-end;

            .mainTitle {
                align-items: flex-end;
            }
        }
    }
}

@media screen and (max-width: calc(50rem - 1px)) {
    .welcomeStyles {
        align-items: flex-start;

        .imageContainer {
            opacity: .75;
            filter: blur(.15rem);
        }

        .textContainer {
            text-align: start;
            align-items: flex-start;
            left: 5vw;

            .mainTitle {
                align-items: flex-start;
            }
        }
    }
}

@media screen and (min-width: 30rem) and (max-width: calc(50rem - 1px)) {
    .imageContainer img {
        scale: 1.2;
        left: 50%;
        translate: -45%;
    }
}

@media screen and (max-width: calc(30rem - 1px)) {
    .imageContainer img {
        left: 50%;
        translate: -45%;
    }
}