.animatedButton {
    position: relative;
    translate: 0 101%;
    background: linear-gradient(45deg, #50f, #02f);
    border: none;
    outline: none;
    padding: .5em clamp(1em, 3vw, 1.5em);
    border-radius: 4em;
    font-size: clamp(1.5rem, 2vw, 2rem);
    font-weight: 700;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    &.shadow {
        pointer-events: none;
    }

    * {
        pointer-events: none;
    }

    .clip {
        position: absolute;
        inset: 0;
        background: white;
        color: #111;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: .5s;

        &.left1 {
            clip-path: circle(10.5% at 2% 50%);
        }

        &.left2 {
            clip-path: circle(8% at 2% 50%);
        }

        &.left3 {
            clip-path: circle(5% at 2% 50%);
        }

        &.left1, &.left2 {
            opacity: .5;
        }
    }

    &:hover {
        .left {
            clip-path: circle(100% at 50% 50%);
        }

        .left1 {
            transition-delay: .075s;
        }
        .left2 {
            transition-delay: .15s;
        }
        .left3 {
            transition-delay: .225s;
        }
    }
}