#header {
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 100%;
    user-select: none;
    font-family: Inter;

    & > * {
        padding: 1.4rem;
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
    }

    .first-layer {
        width: 100%;

        main {
            font-size: 2em;
            font-weight: 500;
        }
    }

    span {
        font-size: 2em;
    }
}