.hoverContent {
    position: absolute;
    display: flex;
    align-items: center;
    inset: 0;
    color: transparent;
    background-color: #0008;

    * {
        pointer-events: none;
    }

    .animateLogo {
        position: absolute;
        height: var(--size);
        width: 100%;
        display: flex;
        align-items: center;
        overflow: hidden;

        &.animate1 {
            translate: 0 calc(var(--size) * -.6);
        }

        &.animate2 {
            translate: 0 calc(var(--size) * .6);
        }

        .logo {
            position: absolute;
            list-style: none;
            display: flex;
            align-items: center;
            justify-content: center;
            opacity: 0;
            animation:
                animateLogo var(--duration) linear infinite
                , spawnLogo 2.5s forwards;

            img {
                inset: 0;
                height: var(--size);
                width: var(--size);
                object-fit: contain;
            }
        }

        &.reverse {
            .logo {
                animation-direction: reverse, normal;
            }
        }
    }
}

@keyframes spawnLogo {
    to {
        opacity: 1;
    }
}

@keyframes animateLogo {
    from {
        translate: -100%;
    }
    to {
        translate: calc(var(--dist) + 100%);
    }
}

@media screen and (min-width: 64rem) {
    .animateLogo {
        --dist: 50vw;
        --size: clamp(5em, 12vw, 12em);

        .logo {
            animation-delay: var(--delay1), var(--delay-show) !important;
            --duration: 15s;
        }
    }
}

@media screen and (max-width: calc(64rem - 1px)) {
    .animateLogo {
        --dist: calc(100vw - 10em);
        --size: clamp(8em, 18vw, 12em);

        .logo {
            animation-delay: var(--delay2), var(--delay-show) !important;
            --duration: 11s;
        }
    }
}