@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background: black;
    color: #eee;
    font-size: clamp(.8rem, 2vw, 1.2rem);
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

a.hover {
    transition: opacity ease-in-out .3s;
}

a.hover:hover {
    opacity: .5;
}

/* 
Mobile
@media screen and (min-width: 20rem) and (max-width: 30rem) {
}

Tablet
@media screen and (min-width: calc(30rem + 1px)) and (max-width: 48rem) {
}

Laptop
@media screen and (min-width: calc(48rem + 1px)) and (max-width: calc(64rem - 1px)) {
}

Desktop
@media screen and (min-width: 64rem) and (max-width: 75rem) {
}

TV / Extra Large
@media screen and (min-width: calc(75rem + 1px)) {
}
*/