.pageContent {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 2rem;
    width: 100%;
    padding: 5rem max(6vw, 5rem);
}

.mainTitle {
    position: absolute;
    left: max(10vw, 5rem);
    font-size: clamp(1em, 3.5vw, 4em);
    font-weight: 500;
    letter-spacing: .1em;
    z-index: 80;
}

.imageContainer {
    position: relative;
    width: 60%;
    max-width: 60rem;
    aspect-ratio: 3 / 2;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    .preLoaders {
        position: absolute;
        right: 0;
        top: 50%;
        translate: 70% -50%;
        transition: .75s 0s ease-in-out;
        pointer-events: auto;
        border-radius: 50%;
        height: 100vw;
        width: 100vw;
        scale: 0;
    }

    .contentImage {
        position: absolute;
        opacity: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        inset: 0;
        z-index: 75;
    }
}

*:has(> .pageContent).rendered {
    .preLoaders {
        transition: .75s var(--delay) ease-in-out;
        scale: 1;
        translate: 40% -50%;
    }

    .contentImage {
        transition: .75s 1s ease-in-out;
        opacity: 1;
    }
}

@media screen and (max-width: calc(64rem - 1px)) {
    .mainTitle {
        position: initial;
        left: initial;
    }

    .pageContent {
        flex-direction: column-reverse;
        justify-content: center;
    }

    .imageContainer {
        width: 100%;
    }

    *:has(> .pageContent).rendered .preLoaders {
        scale: 2;
    }
}