.pageContent {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 2rem;
    width: 100%;
    padding: 5rem max(6vw, 5rem);
}

.mainTitle {
    position: absolute;
    left: max(10vw, 5rem);
    font-size: clamp(1em, 6vw, 6em);
    font-weight: 500;
    letter-spacing: .1em;
    z-index: 80;
    user-select: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow: hidden;
    pointer-events: none;

    .titleContainer {
        display: flex;
        flex-direction: row;

        span {
            position: relative;
            pointer-events: none;
            display: inline;
            translate: -10em 0;

            &.space {
                width: .35em;
            }
        }
    }

    .buttonContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        pointer-events: auto;

        .aboutPage {
            position: relative;
            translate: 0 101%;
            background: linear-gradient(45deg, #50f, #02f);
            border: none;
            outline: none;
            padding: .5em 1.5em;
            border-radius: 4em;
            font-size: .3em;
            font-weight: 700;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;

            * {
                pointer-events: none;
            }

            .clip {
                position: absolute;
                inset: 0;
                background: white;
                color: #111;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: .5s;

                &.left1 {
                    clip-path: circle(14% at 0% 50%);
                }

                &.left2 {
                    clip-path: circle(11% at 0% 50%);
                }

                &.left3 {
                    clip-path: circle(8% at 0% 50%);
                }

                &.left1, &.left2 {
                    opacity: .5;
                }
            }

            &:hover {
                .left {
                    clip-path: circle(100% at 50% 50%);
                }

                .left1 {
                    transition-delay: .075s;
                }
                .left2 {
                    transition-delay: .15s;
                }
                .left3 {
                    transition-delay: .225s;
                }
            }
        }
    }
}

.imageContainer {
    position: relative;
    width: 60%;
    max-width: 60rem;
    aspect-ratio: 3 / 2;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    cursor: pointer;

    &:not(.imgActions) {
        &, & * {
            pointer-events: none !important;
        }
    }

    .preLoaders {
        position: absolute;
        right: 0;
        top: 50%;
        translate: 70% -50%;
        transition: 0s 0s ease-in-out;
        pointer-events: auto;
        border-radius: 50%;
        height: 100vw;
        width: 100vw;
        scale: 0;
    }

    .contentImage {
        position: absolute;
        opacity: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        inset: 0;
        z-index: 75;
    }
}

*:has(> .pageContent).rendered {
    .mainTitle {
        span {
            transition: .5s .5s ease-out;
            translate: 0;
        }

        .aboutPage {
            transition: .5s .75s ease-out;
            translate: 0;
        }
    }

    .preLoaders {
        transition: .75s var(--delay) ease-in-out;
        scale: 1;
        translate: 40% -50%;
    }

    .contentImage {
        transition: opacity .75s 1s ease-in-out;
        opacity: 1;
    }
}

@media screen and (max-width: calc(64rem - 1px)) {
    .mainTitle {
        position: initial;
        left: initial;
    }

    .pageContent {
        flex-direction: column-reverse;
        justify-content: center;
    }

    .imageContainer {
        width: 100%;
    }

    *:has(> .pageContent).rendered .preLoaders {
        scale: 2;
    }
}